@model WebNews.Models.Contact

<section class="page-header">
    <div class="container-xl">
        <div class="text-center">
            <h1 class="mt-0 mb-2">Liên hệ</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Cùng nhau phát triển website tốt đẹp hơn</a></li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<!-- section main content -->
<section class="main-content">
    <div class="container-xl">

        <div class="row">
                    
            <div class="col-md-4">
                <!-- contact info item -->
                <div class="contact-item bordered rounded d-flex align-items-center">
                    <span class="icon icon-phone"></span>
                    <div class="details">
                        <h3 class="mb-0 mt-0">Đường dây nóng</h3>
                        <p class="mb-0">+84 327 534 013</p>
                    </div>
                </div>
                <div class="spacer d-md-none d-lg-none" data-height="30"></div>
            </div>

            <div class="col-md-4">
                <!-- contact info item -->
                <div class="contact-item bordered rounded d-flex align-items-center">
                    <span class="icon icon-envelope-open"></span>
                    <div class="details">
                        <h3 class="mb-0 mt-0">E-Mail</h3>
                        <p class="mb-0">Tintuc@gmail.com</p>
                    </div>
                </div>
                <div class="spacer d-md-none d-lg-none" data-height="30"></div>
            </div>

            <div class="col-md-4">
                <!-- contact info item -->
                <div class="contact-item bordered rounded d-flex align-items-center">
                    <span class="icon icon-map"></span>
                    <div class="details">
                        <h3 class="mb-0 mt-0">Địa chỉ</h3>
                        <p class="mb-0">Thành phố Vinh, Nghệ An</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="spacer" data-height="50"></div>

        <!-- section header -->
        <div class="section-header">
            <h3 class="section-title">Liên hệ cho chúng tôi</h3>
        </div>

        <!-- Contact Form -->
        <form asp-action="Create" class="contact-form" method="post">

            <input type="hidden" asp-for="ContactID" />
            
            <div class="row">
                <div class="column col-md-6">
                    <!-- Name input -->
                    <div class="form-group">
                        <input asp-for="FullName" type="text" class="form-control" placeholder="Tên của bạn" required="required" data-error="Name is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                
                <div class="column col-md-6">
                    <!-- Email input -->
                    <div class="form-group">
                        <input asp-for="Email" type="email" class="form-control" placeholder="Địa chỉ Email" required="required" data-error="Email is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="column col-md-12">
                    <!-- Email input -->
                    <div class="form-group">
                        <input asp-for="Subject" type="text" class="form-control" placeholder="Tiêu đề" required="required" data-error="Subject is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
        
                <div class="column col-md-12">
                    <!-- Message textarea -->
                    <div class="form-group">
                        <textarea asp-for="Message" class="form-control" rows="4" placeholder="Viết liên hệ tại đây..." required="required" data-error="Message is required."></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>

            <button type="submit" value="Submit" class="btn btn-default">Gửi liên hệ</button><!-- Send Button -->

        </form>
        <!-- Contact Form end -->
    </div>

    <div class="container-minimal" style="margin-top:20px;">
        <!-- post -->
        <div class="post post-xl">
            <!-- top section -->
            <div class="post-top">
                <h6 style="font-size:22px;text-align:center" class="post-title mb-0 mt-4"><a href="https://www.google.com/maps/?hl=vi">Mọi thắc mắc xin vui lòng liên hệ trực tiếp với chúng tôi tại</a></h6>
            </div>
            <!-- thumbnail -->
            <div class="thumb rounded">
                <a href="https://www.google.com/maps/?hl=vi" class="category-badge lg position-absolute">Google map</a>
                <a href="https://www.google.com/maps/?hl=vi">
                    <div class="inner">
                        <img src="images/googlemap.jpg" alt="post-title" />
                    </div>
                </a>
            </div>
            <!-- details -->
            <div class="details">
                <p class="excerpt mb-0">Chúng tôi luôn lắng nghe và cố gắng thấu hiểu độc giả. Mọi thắc mắc và liên hệ xin vui lòng đến và gặp trực tiếp với chúng tôi theo địa chỉ Trường Đại học Vinh - Thành Phố Vinh - Tỉnh Nghệ An. Chúc các bạn đọc tin vui vẻ!</p>
            </div>
            <div class="post-bottom clearfix d-flex align-items-center">
                <div class="social-share me-auto">
                    <button class="toggle-button icon-share"></button>
                    <ul class="icons list-unstyled list-inline mb-0">
                        <li class="list-inline-item"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.pinterest.com/"><i class="fab fa-pinterest"></i></a></li>
                        <li class="list-inline-item"><a href="https://web.telegram.org/"><i class="fab fa-telegram-plane"></i></a></li>
                        <li class="list-inline-item"><a href="https://dictionary.cambridge.org/"><i class="far fa-envelope"></i></a></li>
                    </ul>
                </div>
                @* <div class="more-button d-block d-md-none float-end">
                    <a href="blog-single.html"><span class="icon-options"></span></a>
                </div> *@
            </div>
        </div>
    </div>
</section>

