<div class="instagram">
    <div class="container-xl">
        <!-- button -->
        <a href="https://www.instagram.com/" class="btn btn-default btn-instagram">Truy cập trên Instagram</a>
        <!-- images -->
        <div class="instagram-feed d-flex flex-wrap">
            <div class="insta-item col-sm-2 col-6 col-md-2">
                <a href="https://www.instagram.com/">
                    <img src="https://kenh14cdn.com/2016/9-1474866752896.png" alt="insta-title" />
                </a>
            </div>
            <div class="insta-item col-sm-2 col-6 col-md-2">
                <a href="https://www.instagram.com/">
                    <img src="https://shop.photozone.com.vn/wp-content/uploads/2017/02/hoc-chup-hinh-flatlay-tuyet-dep-tu-tai-khoan-instagram-cua-cac-ban-tre-viet_photoZone-com-vn-2.jpg" alt="insta-title" />
                </a>
            </div>
            <div class="insta-item col-sm-2 col-6 col-md-2">
                <a href="https://www.instagram.com/">
                    <img src="https://img.tinbaihay.net/ThumbImages/2016/01/21/canh-hoang-hon-dep-nhat-tren-instagram-2a1e_450.jpg" alt="insta-title" />
                </a>
            </div>
            <div class="insta-item col-sm-2 col-6 col-md-2">
                <a href="https://www.instagram.com/">
                    <img src="https://kenh14cdn.com/thumb_w/660/2017/screen-shot-2017-11-02-at-101805-pm-1509635902311.png" alt="insta-title" />
                </a>
            </div>
            <div class="insta-item col-sm-2 col-6 col-md-2">
                <a href="https://www.instagram.com/">
                    <img src="https://box.edu.vn/wp-content/uploads/2022/05/Cach-chup-anh-dep-tren-Instagram-1.jpg" alt="insta-title" />
                </a>
            </div>
            <div class="insta-item col-sm-2 col-6 col-md-2">
                <a href="https://www.instagram.com/">
                    <img src="https://cf.shopee.vn/file/f444563107479d9f1b550f663f624abd" alt="insta-title" />
                </a>
            </div>
        </div>
    </div>
</div>