@model WebNews.Models.Comment

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Admin</a>
                </li>

                <li>
                    <a asp-area="Admin" asp-controller="Comment" asp-action="Index">Bình luận tương tác</a>
                </li>
                <li class="active">Chỉnh sửa</li>
            </ul><!-- /.breadcrumb -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    Chỉnh sửa Bình luận
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <form class="form-horizontal" role="form" asp-action="Edit" method="post">
                        <input type="hidden" asp-for="CommentID"/>

                        <div class="form-group">
                            <label asp-for="PostID" class="col-sm-3 control-label no-padding-right" for="form-field-1"> Mã bài viết </label>

                            <div class="col-sm-9">
                                <input asp-for="PostID" type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5" />
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label asp-for="FullName" class="col-sm-3 control-label no-padding-right" for="form-field-1"> Tên độc giả </label>

                            <div class="col-sm-9">
                                <input asp-for="FullName" type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5" />
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label asp-for="Content" class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nội dung </label>

                            <div class="col-sm-9">
                                <input asp-for="Content" type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5" />
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label asp-for="CreatedDate" class="col-sm-3 control-label no-padding-right" for="form-field-1"> Thời gian </label>

                            <div class="col-sm-9">
                                <input asp-for="CreatedDate" type="date" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5" />
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label asp-for="Avatar" class="col-sm-3 control-label no-padding-right" for="form-field-1"> Ảnh đại diện </label>

                            <div class="col-sm-9">
                                <input asp-for="Avatar" type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5" />
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label asp-for="IsActive" class="col-sm-3 control-label no-padding-right" for="form-field-1"> Trạng thái </label>

                            <div class="col-sm-9" style="margin-top:8px;padding-left:24px;">
                                @Html.CheckBox("IsActive", Model.IsActive)
                                Cho phép
                            </div>
                        </div>

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Lưu lại
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <a asp-area="Admin" asp-controller="Comment" asp-action="Index" class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Quay lại
                                </a>
                            </div>
                        </div>
                    </form>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->