<div class="widget rounded">
    <div class="widget-about data-bg-image text-center" data-bg-image="images/map-bg.png">
        <img src="images/tintuc.png" style="width:118px;" alt="logo" class="mb-4" />
        <p class="mb-4">Xin chào, chúng tôi là người sáng lập trang web tin tức, người viết nội dung giải trí, đời sống và thời sự. Chúng tôi giúp độc giả đưa nội dung phù hợp đến đúng người.</p>
        <ul class="social-icons list-unstyled list-inline mb-0">
            <li class="list-inline-item"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.pinterest.com/"><i class="fab fa-pinterest"></i></a></li>
            <li class="list-inline-item"><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </div>
</div>