<div class="widget rounded">
    <div class="widget-header text-center">
        <h3 class="widget-title">Thư mới</h3>
        <img src="images/wave.svg" class="wave" alt="wave" />
    </div>
    <div class="widget-content">
        <span class="newsletter-headline text-center mb-3">Tham gia cùng 70.000 người đăng ký!</span>
        <form>
            <div class="mb-2">
                <input class="form-control w-100 text-center" placeholder="Địa chỉ Email…" type="email">
            </div>
            <a href="dang-ky.html" class="btn btn-default btn-full">Đăng ký</a>
        </form>
        <span class="newsletter-privacy text-center mt-3">Bằng cách đăng ký, bạn đồng ý với <a href="#">Chính sách bảo mật</a> của chúng tôi.</span>
    </div>		
</div>