@using WebNews.Models
@using WebNews.Utilities
@model IList<Menu>

<header class="header-default">
		<nav class="navbar navbar-expand-lg">
			<div class="container-xl">
				<!-- site logo -->
				<a class="navbar-brand" href="gioi-thieu.html"><img src="images/tintuc.png" style="width:118px;" alt="logo" /></a> 

				<div class="collapse navbar-collapse">
					<!-- menus -->
					<ul class="navbar-nav mr-auto">
                        @foreach (var menu in Model.Where(m=>m.Levels == 1).OrderBy(n=>n.MenuOrder)) 
                        {
							string url = Functions.TitleSlugGeneration("list", menu.MenuName, menu.MenuID);
                            var Pid = menu.MenuID;
                            var Smenu = Model.Where(p=>p.ParentID == Pid).OrderBy(p=>p.MenuOrder).ToList();
                            
                            @if(Smenu.Count == 0) {
                                <li class="nav-item">
                                    <a class="nav-link" href="/@url">@menu.MenuName</a>
                                </li>
                            }
                            else {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#">@menu.MenuName</a>
                                    <ul class="dropdown-menu">
                                        @foreach (var smn in Smenu)
                                        {
											string url1 = Functions.TitleSlugGeneration("list", smn.MenuName, smn.MenuID);
                                            <li><a class="dropdown-item" href="/@url1">@smn.MenuName</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                        }
					</ul>
				</div>

				<!-- header right section -->
				<div class="header-right">
					<!-- social icons -->
					<ul class="social-icons list-unstyled list-inline mb-0">
						<li class="list-inline-item"><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://www.pinterest.com"><i class="fab fa-pinterest"></i></a></li>
						<li class="list-inline-item"><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
					</ul>
					<!-- header buttons -->
					<div class="header-buttons">
						<button class="search icon-button">
							@* <i class="icon-magnifier"></i> *@
							<a href="dang-nhap.html"><i class="icon-login" style="color:white;margin-right:4px;"></i></a>
						</button>
						<button class="burger-menu icon-button">
							<span class="burger-icon"></span>
						</button>
					</div>
				</div>
			</div>
		</nav>
	</header>