@using WebNews.Models
@using WebNews.Utilities
@model IList<View_PostMenu>

<div class="section-header">
    <h3 class="section-title">Sức khỏe</h3>
    <img src="images/wave.svg" class="wave" alt="wave" />
    <div class="slick-arrows-top">
        <button type="button" data-role="none" class="carousel-topNav-prev slick-custom-buttons"
            aria-label="Previous"><i class="icon-arrow-left"></i></button>
        <button type="button" data-role="none" class="carousel-topNav-next slick-custom-buttons" aria-label="Next"><i
                class="icon-arrow-right"></i></button>
    </div>
</div>

<div class="row post-carousel-twoCol post-carousel">
    <!-- post -->
    @foreach (var item in Model.Take(6))
    {
        string url = Functions.TitleSlugGeneration("post", item.Title, item.PostID);
        <div class="post post-over-content col-md-6">
            <div class="details clearfix">
                <h4 class="post-title rut-gon-2-dong"><a href="/@url">@item.Title</a></h4>
                <ul class="meta list-inline mb-0">
                    <li class="list-inline-item"><a href="#">@item.FullName</a></li>
                    <li class="list-inline-item">@item.CreatedDate?.ToString("dd/MM/yyyy")</li>
                </ul>
            </div>
            <a href="/@url">
                <div class="thumb rounded">
                    <div class="inner">
                        <img style="width:356px;height:297.06px;" src="@item.Images" alt="thumb" />
                    </div>
                </div>
            </a>
        </div>
    }
</div>