@model WebNews.Areas.Admin.Models.AdminMenu

<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="#">Admin</a>
				</li>

				<li>
					<a asp-area="Admin" asp-controller="AdminMenu" asp-action="Index">Quản lý Admin Menu</a>
				</li>
				<li class="active">Thêm mới</li>
			</ul><!-- /.breadcrumb -->
		</div>

		<div class="page-content">
			<div class="page-header">
				<h1>
					Thêm mới Admin Menu
				</h1>
			</div><!-- /.page-header -->

			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<form class="form-horizontal" role="form" asp-action="Create" method="post">
						<input type="hidden" asp-for="AdminMenuID"/>

						<div class="form-group">
							<label asp-for="ItemName" class="col-sm-3 control-label no-padding-right" for="form-field-1"> Tên Menu </label>

							<div class="col-sm-9">
								<input asp-for="ItemName" type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="space-4"></div>

						<div class="form-group">
							<label asp-for="ItemLevel" class="col-sm-3 control-label no-padding-right" for="form-field-1"> Cấp độ </label>

							<div class="col-sm-9">
								<select asp-for="ItemLevel" class="form-select col-xs-10 col-sm-5" id="ItemLevel form-field-1">
									<option value="1">1</option>
									<option value="2">2</option>
								</select>
							</div>
						</div>

						<div class="space-4"></div>

						<div class="form-group">
							<label asp-for="ParentLevel" class="col-sm-3 control-label no-padding-right" for="form-field-1"> Menu cha </label>

							<div class="col-sm-9">
								<select asp-for="ParentLevel" class="form-select col-xs-10 col-sm-5" id="ParentLevel form-field-1" asp-items="@(new SelectList(ViewBag.admnList, "Value", "Text"))">
								</select>
							</div>
						</div>

						<div class="space-4"></div>

						<div class="form-group">
							<label asp-for="ItemOrder" class="col-sm-3 control-label no-padding-right" for="form-field-1"> Sắp xếp </label>

							<div class="col-sm-9">
								<input asp-for="ItemOrder" type="number" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="space-4"></div>

						<div class="form-group">
							<label asp-for="ItemTarget" class="col-sm-3 control-label no-padding-right" for="form-field-1"> ItemTarget </label>

							<div class="col-sm-9">
								<input asp-for="ItemTarget" type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="space-4"></div>

						<div class="form-group">
							<label asp-for="AreaName" class="col-sm-3 control-label no-padding-right" for="form-field-1"> AreaName </label>

							<div class="col-sm-9">
								<input asp-for="AreaName" type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="space-4"></div>

						<div class="form-group">
							<label asp-for="ControllerName" class="col-sm-3 control-label no-padding-right" for="form-field-1"> ControllerName </label>

							<div class="col-sm-9">
								<input asp-for="ControllerName" type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="space-4"></div>

						<div class="form-group">
							<label asp-for="ActionName" class="col-sm-3 control-label no-padding-right" for="form-field-1"> ActionName </label>

							<div class="col-sm-9">
								<input asp-for="ActionName" type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="space-4"></div>

						<div class="form-group">
							<label asp-for="Icon" class="col-sm-3 control-label no-padding-right" for="form-field-1"> Icon </label>

							<div class="col-sm-9">
								<input asp-for="Icon" type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="space-4"></div>

						<div class="form-group">
							<label asp-for="IdName" class="col-sm-3 control-label no-padding-right" for="form-field-1"> IdName </label>

							<div class="col-sm-9">
								<input asp-for="IdName" type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="space-4"></div>

						<div class="form-group">
							<label asp-for="IsActive" class="col-sm-3 control-label no-padding-right" for="form-field-1"> Trạng thái </label>

							<div class="col-sm-9" style="margin-top:8px;padding-left:24px;">
								@Html.CheckBox("IsActive", false)
								Cho phép
							</div>
						</div>

						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<button class="btn btn-info" type="submit">
									<i class="ace-icon fa fa-check bigger-110"></i>
									Lưu lại
								</button>

								&nbsp; &nbsp; &nbsp;
								<a asp-area="Admin" asp-controller="AdminMenu" asp-action="Index" class="btn" type="reset">
									<i class="ace-icon fa fa-undo bigger-110"></i>
									Quay lại
								</a>
							</div>
						</div>
					</form>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->